{% extends 'layout.html' %}
{% block content %}
<br>
<h1>Welcome, {{ username }} </h1>
<br>
<div class="container-fluid," style="border-width: 0px;">
    {% if tickets %}
    <ul class="list-group list-group-flush">
        {% for ticket in tickets %}
        <li class="list-group-item" style="padding-left: 0; padding-right: 0;">
            <form id="form_{{ ticket.issue_key }}" method="POST" action="/ticket">
                <input type="hidden" name="issue_key" value="{{ ticket.issue_key }}" />
            </form>
            <div class="card m-0" onclick="location.href='/search/{{ ticket.issue_key }}';" style="cursor: pointer; position: relative; margin-bottom: 0; border: 0;">
                <!-- These if statements change the colors depending on the ticket status  -->
                    {% if ticket.status.name == 'Closed' %}
                        <span class="badge bg-danger position-absolute bottom-0 end-0">{{ ticket.status }}</span>
                    {% elif ticket.status.name == 'Text Delivered' %}
                        <span class="badge bg-success position-absolute bottom-0 end-0">{{ ticket.status }}</span>
                    {% elif ticket.status.name == 'Cancelled' %}
                        <span class="badge bg-danger position-absolute bottom-0 end-0">{{ ticket.status }}</span>

                    {% else %}
                        <span class="badge bg-primary position-absolute bottom-0 end-0">{{ ticket.status }}</span>
                    {% endif %}
                <!-- End of if -->

                <div class="card-body p-2">
                    <h5 class="card-title">{{ ticket.summary }}</h5>
                    <span class="badge bg-light text-dark">{{ ticket.issue_key }}</span>
                </div>
            </div>
            
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <br>
    <br>
    <br>
    <br>
    <div style="text-align: center; opacity: 0.5;">
        <h2>No tickets!</h2><i class="fa fa-face-surprise" style="font-size: 30px; "></i>
    </div>
    {% endif %}
</div>

<script>
    function submitForm(issueKey) {
        document.getElementById("form_" + issueKey).submit();
    }
</script>

<style>
    .list-group-item:hover {
  background-color:aliceblue;
}

</style>
{% endblock %}

