
{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
    <br>
        <span class="badge bg-primary">{{issue_key}}</span>
        <span class="badge bg-primary">{{fields['Issue Type'].name}}</span>

        <!-- Page won't display if value doesn't exist -->
        {% if fields['Social Media Account'] %}
            <span class="badge bg-primary">{{fields['Social Media Account'].value}}</span>
        {% endif %}
        <span class="badge bg-primary">{{fields.Status.name}}</span>

    
    <br>
    <br>
    <div class="card" style="border-width:0;">
        <h2>{{ fields.Summary }}</h2>
        <br>
        
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <!-- Accordion 2 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Description
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne">
                    <div class="accordion-body">{{ fields.Description }}</div>
                </div>
            </div>
            <!-- Accordion 2 -->
            <!-- <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Type
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo">
                    <div class="accordion-body">insert item here</div>
                </div>
            </div> -->
            <!-- Accordion 3 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        All Details
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree">
                    <div class="accordion-body">
                        {% for key, value in fields.items() %}
                        <div class="card">
                            <h6>{{ key }}</h1>
                            <p>{{ value }}</h2>
                            </div>
                        {% endfor %}   
                    </div>
                </div>
            </div>
            <!-- Accordion 4 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        Workflow
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour">
                    <div class="accordion-body">
                        
                        <!-- workflow -->
                        <div class="btn-group-vertical" role="group" aria-label="Basic example">
                        {% for key, value in transitions.items() %}
                            <a href="/transition/{{ value }}"><button type ="button" class="btn btn-outline-secondary" style="margin:10px;">{{ value }}</button></a>
                        {% endfor %}
                        </div>
                            
                    </div>
                </div>

            </div>
        </div>

     

     <!-- Comments -->
     <br>

     <h2>Comments</h2>

     <br>
        <form method="POST" action="/comment">
            <div class="mb-3">
                <!-- <label for="exampleFormControlTextarea1" class="form-label">Add Comment</label> -->
                <textarea class="form-control" rows="3" name="comment" placeholder="Type your comment here..."></textarea>
            </div>
            <button class="btn btn-primary float-end" type="submit">Comment</button>    
        </form>
    </div>
     <div>

        <ul class="list-group list-group-flush">
        {% for comment in comments %}
        <li class="list-group-item">
            <div class="card">
                <div class="card-body bg-light">
                    <h5 class="card-title">{{ comment.author }}</h5>
                    <p class="text">
                        {% for line in comment.body.splitlines() %}
                            {{ line }}<br>
                        {% endfor %}
                    </p>
                    {% for attachment in comment.attachments %}
                    <img src="{{ attachment }}" width="120">
                    {% endfor %}
                    <br>
                    <p class="card-subtitle mb-2 text-muted">{{ comment.date }}</p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
        <br>
        <br>
    </div>

</div>

{% endblock %}