
{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
    <br>
        <span class="badge bg-primary">{{issue_key}}</span>
        <span class="badge bg-primary">{{fields['Issue Type'].name}}</span>

        <!-- Page won't display if value doesn't exist -->
        {% if fields['Social Media Account'] %}
            <span class="badge bg-primary">{{fields['Social Media Account'].value}}</span>
        {% endif %}
        <span class="badge bg-primary">{{fields.Status.name}}</span>

    
    <div class="card" style="border-width:0;">
        <h2>{{ fields.Summary }}</h2>
        <br>

    <!-- SPECIAL FOR PROOFING PAGE -->
        <div>
            <div class="card ">
                <div class="card-body bg-light">
                    {% for attachment in last_comment.attachments %}
                    <img src={{ attachment }} width="100%">
                    {% endfor %}
                    <br>
                    <p class="card-subtitle mb-2 text-muted">{{ last_comment.date }}</p>
                </div>
            
        </div>

        <div class="btn-group-vertical" role="group">
            {% for key, value in transitions.items() %}
                <a href="/transition/{{ value }}"><button type ="button" class="w-100 btn btn-outline-secondary" style="margin:10px;">{{ value }}</button></a>
            {% endfor %}
        </div>
        
        <!-- END SPECIAL FOR PROOFING PAGE -->


        

     

     <!-- Comments -->

     <br>
        <form method="POST" action="/comment">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Add Comment</label>
                <textarea class="form-control" rows="3" name="comment"></textarea>
            </div>
            <button class="btn btn-primary float-end" type="submit">Post</button>    
        </form>
    </div>
<br>
<br>
     <div>

        <ul class="list-group list-group-flush">
            
            {% for comment in comments %}
            <li class="list-group-item">
            <div class="card ">
                <div class="card-body bg-light">
                    <h5 class="card-title">{{ comment.author }}</h6>
                    <p class="text">
                        {% for line in comment.body.splitlines() %}
                            {{line}}<br>
                        {% endfor %}
                    </p>
                    {% for attachment in comment.attachments %}
                    <img src={{ attachment }} width="120">
                    {% endfor %}
                    <br>
                    <p class="card-subtitle mb-2 text-muted">{{ comment.date }}</p>
                </div>
            </li>
            <br>
            {% endfor %}   
        </ul>
        <br>
        <br>
    </div>

</div>

{% endblock %}