{% extends 'layout.html' %}
{% block content %}
<br>
<br>
<form method="POST" action="/jql"class="d-flex">
    <input class="form-control me-1" type="text" placeholder='{{ last_jql }}' name="jql" aria-label="Search">
    <button class="btn btn-primary" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</form>
<br>
<br>
<div class="card" style="border-width: 0px;">
    {% if tickets %}
    <ul class="list-group list-group-flush">
        {% for ticket in tickets %}
        <a class="unlink" href="/search/{{ ticket.issue_key }}"><li class="list-group-item">
            <form id="form_{{ ticket.issue_key }}" method="POST" action="/ticket">
                <input type="hidden" name="issue_key" value="{{ ticket.issue_key }}" />
            </form>
            <div>
                <h5>{{ ticket.summary }}</h5>
                <p class="text-muted text-nowrap">{{ ticket.status }}</p>
                <p>{{ ticket.issue_key }}</p>
                <img src={{ticket.sm_icon}} height="20">
                
            </div>
        </li></a>
        {% endfor %}
    </ul>
    {% else %}
    <h1>Sorry, no tickets!</h1>
    {% endif %}
</div>

<script>
    function submitForm(issueKey) {
        document.getElementById("form_" + issueKey).submit();
    }
</script>

<style>
    .list-group-item:hover {
  background-color:aliceblue;


}
</style>
{% endblock %}

